/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d81b1b;
    color: #88ad00;
}

/* Header styling */
header {
    background-color: #1ff13b;
    color: #143dc2;
    padding: 20px;
    text-align: center;
}

/* Navigation menu styling */
nav ul {
    background-color: #db17bb;
    list-style: none;
    padding: 10px;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(24, 14, 14);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Section styling */
section {
    padding: 20px;
    margin: 20px;
    background-color: rgb(83, 170, 80);
    border-radius: 5px;
}

/* Footer styling */
footer {
    background-color: #2471d6;
    color: #b3d107;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
