/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b89494;
    color: #463838;
}

/* Header styling */
header {
    background-color: #212020;
    color: #f9e4e4;
    padding: 20px;
    text-align: center;
}

/* Navigation menu styling */
nav ul {
    background-color: #474444;
    list-style: none;
    padding: 10px;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(219, 217, 217);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Section styling */
section {
    padding: 20px;
    margin: 20px;
    background-color: rgb(161, 157, 157);
    border-radius: 5px;
}

/* Footer styling */
footer {
    background-color: #332e2e;
    color: #fbcbcb;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
